body{
  direction: rtl;
  background-color: lavenderblush;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-weight: bolder;
  font-family:cursive;
  color: brown;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline; 
}

p{
  direction: ltr;
  font-size: 2em;
}