body{
  font-family: "Comfortaa";
  background-image: linear-gradient(to left, rgb(233, 236, 233), rgba(126, 129, 129, 0.2), rgb(67, 68, 67));
  line-height: 50px;
}

h1{
  display: flex;
  justify-content: center;
}

hr{
  width: 50%;
  height: 5px;
  background-color: coral;
}

marquee>img{
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.location>li:first-child, .location>li:nth-child(4){
  list-style-type: disc;
  font-size: 35px;
  font-style: italic;
  font-weight: bolder;
}

.team>li:first-child{
  list-style-type: square;
}

a{
  text-decoration: inherit;
  color: white;
  border: solid 3px;
  border-radius: 50px;
  padding: 10px;
}

a:hover{
  background-color: white;
  color: coral;
  zoom: 125%;
}

.players>li:first-child, 
.players>li:nth-child(2), 
.players>li:nth-child(3){
list-style-type: upper-alpha;
color: coral;
}


