body{
  direction: rtl;
  font-size: 20px;
}
div{
  border: solid black;
  height:20em;
  width: 40em;
  margin-right: 50px;
}
h1{
  font-size: 50;
  font-weight: 400;
  text-decoration: underline;
}

p{
  margin-top: 30px;
}

.fast-car{
  text-decoration: underline;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.slow{
  letter-spacing: 5px;
}