div{
  width: 100px;
  height: 300px;
  background-color: black;
  padding: 10px;
}

div>figure:first-child{
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: red;
  margin: 20%;
}

div>figure:nth-child(2){
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: yellow;
  margin: 20%;
}
div>figure:nth-child(3){
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: green;
  margin: 20%;

}

figure:hover{
  box-shadow: 0px 0px 10px 10px white;
}